@font-face {
	font-family: "unispace";
	src: url("fonts/unispace.ttf");
}

* {
	margin: 0;
}

.mainHeader {
	text-align: left;
	font-family: "unispace";
	
	font-size: 6vw;

	background: #9e42f4;
	color: white;
	
	padding: 1vw;
	font-weight: bold;
}

.headerLinkTable {
	position: relative;

	table-layout:fixed;
	border: 0px solid #000;
}

.headerLink {
	text-align: center;
	font-family: "unispace";
	margin-right: 2vw;
	font-size: 2vw;
	color: #000;
}

.chosenHeaderLink {
	text-align: center;
	text-decoration: underline;

	font-family: "unispace";
	
	margin-right: 2vw;
	font-size: 2vw;
	color: #000;
}

body {
	overflow-x: hidden;
	width: 100%;
	
	padding: 0px;
	margin: 0px;
}

.gameLinkTable {
	position: relative;

	left: 20vw;
	width: 60vw;

	table-layout:fixed;
	border: 0px solid #000;
}

a {
	text-decoration: none;
}

.gameLink {
	position: relative;
}

.gameLinkText {
	position: relative;
	top: -16.5vw;

	text-align: left;
	color: #000;

	font-family: "unispace";
	font-size: 2vw;

	margin-left: 2vw;
}

.unfinishedText {
	position: absolute;
	top: 3.5vw;

	text-align: left;
	color: #c22;

	font-family: "unispace";
	font-size: 2vw;

	margin-left: 2vw;
}

.gameLinkImage {
	position: relative;
	width: 18vw;	

	margin-bottom: -3vw;
	margin-right: 1vw;
	margin-left: 1vw;
}
.gameLinkImage:hover {
	position: relative;
	width: 18vw;	

	opacity: 0.4;

	margin-bottom: -3vw;
	margin-right: 1vw;
	margin-left: 1vw;
}

.gameLinkImage:hover + .gameLinkInfo {
	position: relative;

	text-align: left;
	color: #000;
	opacity: 1;

	font-family: "unispace";
	font-size 1.8vw;

	margin-left: 2vw
}

.gameLinkInfo {
	position: relative;
	text-align: center;

	opacity: 0;
	color: #000;

	font-family: "unispace";
	font-size: 1vw;

	margin-top: 1vw;
	margin-left: 2vw;
}

#pythonRequirement {
	position: relative;

	background-color: #cf9bff;
	color: #eee;

	padding: 2vw;
	margin-top: 2vw;

	text-align: center;
	font-family: "unispace";
	
	font-size: 3vw;
	font-weight: bold;
}

#pythonRequirementLink {
	position: relative;

	background-color: #cf9bff;
	color: #eee;

	padding-bottom: 0.5vw;

	text-align: center;
	font-family: "unispace";
	
	font-size: 2vw;
	font-weight: bold;
}

#pythonRequirementLinkSmaller {
	position: relative;

	background-color: #cf9bff;
	color: #eee;

	padding-bottom: 2vw;
	margin-bottom: 3vw;

	text-align: center;
	font-family: "unispace";
	
	font-size: 1.5vw;
	font-weight: bold;
}

.tutorialImage {
	position: relative;

	left: 10vw;
	width: 80vw;

	padding-top: 2vw;
	padding-bottom: 2vw;
}

#tutorialTableImage {
	position: absolute;
	border: 1px solid #000;
}
